lite-vimeo {
  position: relative;
  display: block;
  contain: content;
  max-width: 720px;
  cursor: pointer;
  background-color: #000;
  background-position: center center;
  background-size: cover;
}

/* title */
lite-vimeo[data-title]:not([data-title=""])::before {
  content: attr(data-title);
  position: absolute;
  padding: 6px 12px;
  margin: 8px 52px 8px 8px;
  overflow: hidden;
  display: block;
  top: 0;
  max-width: calc(100% - 60px);
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -.2px;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
  box-sizing: border-box;
  background: #000000e6;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-vimeo::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

lite-vimeo > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* play button */
lite-vimeo > .lvm-playbtn {
  display: block;
  /* Make the button element cover the whole area for a large hover/click target… */
  width: 100%;
  height: 100%;
  /* …but visually it's still the same size */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000e6" viewBox="0 0 60 40"><rect width="60" height="40" fill="%2300adef" rx="5.5"/><path fill="white" d="M37 20c0 .4-.2.7-.5.9l-12 7A1 1 0 0 1 23 27V13a1 1 0 0 1 1.5-.9l12 7c.3.2.5.5.5.9z"/></svg>') no-repeat center/60px 40px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  filter: grayscale(100%);
  transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
  border: 0;
}

lite-vimeo:hover > .lvm-playbtn,
lite-vimeo .lvm-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-vimeo.lvm-activated {
  cursor: unset;
}

lite-youtube.lvm-activated::before,
lite-vimeo.lvm-activated > .lvm-playbtn {
  opacity: 0;
  pointer-events: none;
}

.lvm-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
